version: "3.8"

services:
  # Postgres Database
  postgres:
    image: postgres:16
    container_name: postgres
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5431:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - mycryptotrack-net

  # Zookeeper for Kafka
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2182:2181"
    networks:
      - mycryptotrack-net

  # Kafka Broker
  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    env_file:
      - .env
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_MIN_INSYNC_REPLICAS: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    ports:
      - "9092:9092"
    networks:
      - mycryptotrack-net

  # Auth Management
  auth-management:
    image: openjdk:21
    container_name: auth-management
    volumes:
      - ./backend/auth-management/target:/app
    env_file:
      - .env
    working_dir: /app
    command: java -jar auth-management-0.0.1-SNAPSHOT.jar
    ports:
      - "8081:8081"
    depends_on:
      - postgres
      - kafka
    networks:
      - mycryptotrack-net

  # Market Management
  market-ingest-management:
    image: openjdk:21
    container_name: market-ingest-management
    env_file:
      - .env
    volumes:
      - ./backend/market-ingest-management/target:/app
    working_dir: /app
    command: java -jar market-ingest-management-0.0.1-SNAPSHOT.jar
    ports:
      - "8083:8083"
    depends_on:
      - postgres
      - kafka
    networks:
      - mycryptotrack-net

  # Alert Management
  alert-management:
    image: openjdk:21
    env_file:
      - .env
    container_name: alert-management
    volumes:
      - ./backend/alert-management/target:/app
    working_dir: /app
    command: java -jar alert-management-0.0.1-SNAPSHOT.jar
    ports:
      - "8082:8082"
    depends_on:
      - postgres
      - kafka
    networks:
      - mycryptotrack-net

  #Frontend
  frontend:
    image: node:20
    container_name: frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    command: sh -c "npm install && npm start"
    networks:
      - mycryptotrack-net

volumes:
  postgres_data:

networks:
  mycryptotrack-net:
    driver: bridge
